<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />





    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="css/style_dash.css" />

    <title>Decentralized Bank</title>
  </head>
  <body>
    <nav>
      <div class="logo">
      <h2>Decentralized Bank</h2>
    </div>

<ul>
<li><a href="/login">Login</a></li>
<li><a href="/register">Registration</a></li>
<li><a href="#">Contact</a></li>
</ul>
<div class="menu-bars">
  <input type="checkbox">
<span></span>
<span></span>
<span></span>
</div>
</nav>

    <h2>What is Decentralized Bank?</h2>
    <p>
      Decentralized Banking / finance (DeFi) is an emerging financial technology based on secure distributed ledgers similar to those used by cryptocurrencies. </p>
      <ul> <li>It uses emerging technology to remove third parties and centralized institutions from financial transactions.</li> 
        <li>The components of DeFi are stablecoins, software, and hardware that enables the development of applications.</li>
        <li>The infrastructure for DeFi and its regulation are constantly evolving.</li>
      </ul>
    <h2>How does it work?</h2>
    <p>Decentralized finance uses the blockchain technology that cryptocurrencies use. A blockchain is a distributed and secured database or ledger. Applications called dApps are used to handle transactions and run the blockchain.</p><br>
    <p>In the blockchain, transactions are recorded in blocks and then verified by other users. If these verifiers agree on a transaction, the block is closed and encrypted; another block is created that has information about the previous block within it.</p>

    <h2>Why is it impportant?</h2>
    <p>Decentralized finance provides autonomy and functionality to its users with a set of agile tools that curtails the operational risks of banks and brokerage firms.</p><br>
    <p> Its decentralized public blockchain governs every transaction within the sector, thus removing the cumbersome barriers of digital surveillance of operations.</p>

    <h2>Is it safe?</h2>
    <p>DeFi do offer great anonymity. Along with that, since all transactions are recorded on the blockchain, there are fewer odds of any tampering</p>
    <p>With great self-governance comes great responsibility and, often, greater risk. Here, we look at how safe DeFi is and if it’s worth investing in.</p>
    
    <h2>Advantages</h2>
    <ul>
      <li>High level of security</li>
      <li>Accessibility</li>
      <li>Low fees and high-interest rates</li>
      <li>Security and Transparency</li>
      <li>Autonomy</li>
    </ul>
    
    

<script src="app.js"></script>
  </body>
</html>